.btn {
  border: none;
  height: 50px;
  padding: 0 10px;
  color: #fff;
  display: flex;
  text-align: left;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  background: green;

  &:hover {
    background: red;
  }



  &_2 {
    width: 150px;
    height: 40px;
    background: blue;

    &:hover {
      background: yellow;
    }
  }

}