.btn {
  display: inline-block;
  margin: 50px;
  padding: 10px 50px;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  background: green;

  &:hover {
    background: red;
  }
}