.select {
	display: block;
	margin: 50px auto 0;
}

.select2-container {
	display: inline-block;
	width: 300px !important;
	color: red;
}

.select2-selection__rendered {
	color: #0f0 !important;
}

.select2-selection--single {
	border-width: 3px !important;
	height: 40px;
}

.select2-selection__arrow {
	
}