.site {
 	position: relative;
 	overflow: hidden;
 	width: 100%;
 	min-height: 100%;
 	font-family: 'Open Sans', sans-serif;

	&__shape {
		display: block;
		width: 800px;
		margin: 30px auto 20px; 

		label {
			margin-right: 10px;
			&:last-child {
				margin-right: 0;
			}
		}
	}

}
