.site {
 	position: relative;
 	overflow: hidden;
 	width: 100%;
 	min-height: 100%;
 	font-family: 'Open Sans', sans-serif;

	&__shape {
		margin-top: 30px;
		margin-bottom: 20px;
		margin-left: 10%; 

		label {
			margin-right: 10px;
			&:last-child {
				margin-right: 0;
			}
		}
	}

}
