.site {
 	position: relative;
 	overflow: hidden;
 	width: 100%;
 	min-height: 100%;
 	padding-bottom: 83px;
 	font-family: 'Open Sans', sans-serif;
}
@media (min-width: $phone-landscape) {
  .site {

  }
}
@media (min-width: $tablet-portrait) {
  .site {

  }
}
@media (min-width: $tablet-landscape) {
  .site {

  }
}
@media (min-width: $desktop) {
  .site {

  }
}

